@page
@model Intranet.Pages.QuoteSystem.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>Tools</h2>
<ul>
    <li><a href="/QuoteSystem/BlockEntry">Block Entry</a></li>
</ul>

